<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IRONSOURCE_APP_ID</key>
	<string>вставьте_свой_id</string>
	<key>IRONSOURCE_INTERSTITIAL_ID</key>
	<string>вставьте_свой_id</string>
	<key>IRONSOURCE_REWARDED_ID</key>
	<string>вставьте_свой_id</string>
	<key>APPSTORE_ID</key>
	<string>вставьте_свой_id</string>
	<key>MINTEGRAL_APP_ID</key>
	<string>вставьте_свой_id</string>
	<key>MINTEGRAL_API_KEY</key>
	<string>вставьте_свой_id</string>
	<key>MINTEGRAL_INTERSTITIAL_PLACEMENT_ID</key>
	<string>вставьте_свой_id</string>
	<key>MINTEGRAL_INTERSTITIAL_UNIT_ID</key>
	<string>вставьте_свой_id</string>
	<key>MINTEGRAL_REWARDED_PLACEMENT_ID</key>
	<string>вставьте_свой_id</string>
	<key>MINTEGRAL_REWARDED_UNIT_ID</key>
	<string>вставьте_свой_id</string>
	<key>YABBI_PUBLISHER_ID</key>
	<string>вставьте_свой_id</string>
	<key>YABBI_INTERSTITIAL_ID</key>
	<string>вставьте_свой_id</string>
	<key>YABBI_REWARDED_ID</key>
	<string>вставьте_свой_id</string>
	<key>YANDEX_INTERSTITIAL_ID</key>
	<string>вставьте_свой_id</string>
	<key>YANDEX_REWARDED_ID</key>
	<string>вставьте_свой_id</string>
</dict>
</plist>
